#navbar-img{
  padding-top: 10px !important;
  padding-right: 20px !important;
}

#padding-please{  padding: 5px
}

#ziprow{
  margin-bottom: 10px;
}

#chartHeader{
  margin-left: -39px;
  margin-bottom: 28px;
}

#Congress{
  margin-bottom: 30px;
}
