<nav class="navbar navbar-default">
  <!-- here's where you put the container tag -->
  <div id = "headerContainer" class="container">

    <div class="navbar-header">
      <a href="/"><%= image_tag "logo.png", height: 40, :id => 'navbar_img'%></a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <h4 class='pull-right'>GovTracker</h4>
      </ul>
    </div>
  </div> <!-- close the container tag -->
</nav> <!-- close the nav tag -->

<body>
  <div>
    <div id = "ziprow" class="row search">
      <div id = "zipSearchRow">
        <form role="form">
          <div class="input-group">
            <input type="text" class="form-control input-sm" id='zipSearchBox' placeholder="Enter ZipCode">
            <span class="input-group-btn">
              <button id="zipButton"class="btn btn-default btn-sm" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </form>
      </div>
    </div>

      <div id="welcomeWell" class="container well">
        <h1 id="hcenter" class="page-header">Welcome To GovTracker!</h1>
        <ul>
          <li><h2>Begin by filling in your zipcode.</h2></li>
          <li><h2>Select the representative or senator of your choice.</h2></li>
          <li><h2 style="padding-bottom: 35px">Information provided by the <a href="https://www.opensecrets.org/resources/create/apis.php">OpenSecrets</a> and <a href="http://tryit.sunlightfoundation.com/congress">SunlightLabs</a> API(s)</h2></li>
      </ul>

      </div>

      <div id="legisNames" class= "col-sm-1">
        <div id="Congress">

        </div>
        <div id="Senate">

        </div>
      </div>

      <div id= "legisInfoBox" class="col-sm-9">

      </div>

      <div id= "billInfoBox" class="col-sm-9">

      </div>
    </div>

</body>
